body {
	background-color: black;
	color: #fff;
}

#mc_embed_signup {
	font: 1em Helvetica,Arial,sans-serif;
	width: 85%;
	margin: 0 auto;
	border: 2px rgb(172,167,167) solid;
	border-radius: 5px;
}

.msg {
	display: none;
}

@media screen and ( min-width: 480px; ) {
	#mc_embed_signup {
		width: 50%;
		margin-top: 100px;
	}
}